.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: auto;
}
.main p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem auto 1rem 0;

}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.option ul {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  top:0;
  right: 0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}
.option li {
  display: inline-block;
  margin: 0.5rem;
  background-color: #ff0;
  
}
.option a {
  display: inline;
  padding: 0.3rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.grid_item{
  flex-direction: row;
}
.grid h2{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 4rem;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.card {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  min-width: 20rem;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 20rem;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.card span {
  font-size: 1.5rem;
  line-height: 1.5; 
  float: right;
}
.position{
  font-weight: 500;
  font-size: 5rem;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.show {
  visibility: visible !important;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  position:fixed;
}


.yellow {
  background-color: #cbcb40;
  color: #fff;
}
.yellowLight{
  background-color: #e5e59d;
  color: #222;
}
.violet {
  background-color: #7F00FF;
  color: #fff;

}

.blue {
  background-color: #0070f3;
  color: #fff;

}
.black {
  background-color: #000;
    color: #fff;

}